@use '../../sass/varibles' as vars
@use '../../sass/mixins' as mixins
@use '../../sass/break_points' as bp
    
.summary 
    padding: 20px
    height: calc( 100vh - vars.$navHeight )
    padding-top: 30px
    background-color: vars.$container-color
    display: flex
    align-items: flex-start
    gap: 30px

    &__order-data
        margin-top: 20px
        display: flex
        justify-content: center
        border: 1px solid silver
        border-radius: 5px
        padding: 20px

        & > div
            flex-grow: 1
            flex-basis: 40%
            font-size: 0.9em   

    &__title
        font-size: 1.5em

        &.--section_title
            margin-top: 50px

    &__left
        width: 70%
        height: 100%
        display: inline-block

        @media ( max-width: bp.$medium )
            width: 100%

        & .product-card
            & button
                display: none

            & .product-card__description__icons
                gap: 0 5px

            @media (max-width: bp.$huge)
                font-size: 0.7em

            & .product-card__img
                @media (max-width: bp.$huge)
                    max-height: 80px

        &__order-data
            display: flex
            flex-direction: column

            &.--right
                align-items: flex-end

            &__right-container
                width: fit-content

        &__data__section
            margin-top: 10px

            &__box
                @include mixins.flexDisplay($primarySetting: space-between, $secondarySetting:center)
                width: 100%
                margin: 10px 0 

            &__value
                width: 30%
                font-weight: 500
                font-size: 1em

            &__title
                font-size: 1.3em
                margin-bottom: 20px


        position: relative

        &__label
            position: absolute
            top: 50%
            right: 30px
            transform: translateY(-50%)

            @media ( max-width: bp.$medium )
                top: 0
                left: 20px
                transform: translateY(-100%)

    &__right
        position: sticky
        top: 20px
        right: 0
        padding: 20px
        width: 30%
        border-radius: 5px
        margin-top: 50px
        border: 1px solid silver
        background: #f5f5f5

        @media ( max-width: bp.$medium )
            width: 100%

        &__informations
            width: 100%
            display: grid
            grid-template-columns: 70% 30%
            gap: 20px 0

            &__title
                font-size: 1.1em

            &__ammount
                text-align: right
                align-content: center
                font-size: 1.2em


        & button 
            margin-top: 20px
            width: 100%

