@use '../../sass/varibles' as vars
@use '../../sass/mixins' as mixins
@use '../../sass/break_points' as bp

.product
    min-height: calc( 100vh - vars.$navHeight )
    padding: 10px
    background-color: vars.$container-color

    @media (min-width:bp.$medium)
        padding: 30px 20px

    &__header
        margin-top: 20px
        position: relative
        width: 100%
        display: grid
        grid-template-columns: 1fr 2fr
        gap: 50px
        border: 1px solid vars.$border-color
        border-radius: 3px
        padding: 30px
        background: vars.$windows-color

        @media (max-width:bp.$large)
            grid-template-columns: 1fr
            font-size: 0.7em
            padding: 10px
            
           
        &__img
            margin-top: 10px
            max-width: 400px
            padding: 10px
            border: 1px solid vars.$border-color
            background-color: vars.$silver_background
            border-radius: 3px

            &__cnt
                text-align: center
                
            @media (max-width:bp.$small)
                width: 100%
                max-width: 1000px

        &__description
            flex-grow: 1
            height: 100%
            float: right
            gap: 30px
            width: 100%

            &__top
                display: flex
                justify-content: space-between
                position: relative
                margin-bottom: 30px

            &__title
                width: 100%
                font-size: 1.8em
                font-weight: 500
                position: relative

            &__prices
                text-align: right

            &__price
                font-size: 2em
                display: block

                &-unit
                    font-size: 0.7em
                    font-weight: 400

            &__dailyPrice
                display: block
                color: #9b9b9b

            &__avilability
                display: block
                color: vars.$success-color
                border: 1px solid vars.$secondary-color_border
                margin-top: 10px
                font-size: 0.75em
                background: vars.$secondary-color_light
                width: 80px
                text-align: center
                padding: 3px 5px
                border-radius: 6px

            &__localisation
                display: block
                font-weight: normal
                position: absolute
                margin-left: 10px
                left: 20px
                display: flex
                align-items: center
                height: 30px

                & .text > span
                    display: block            

                &::before
                    content: ""
                    display: block
                    width: 12px
                    height: 12px
                    background: gray
                    border-radius: 50%
                    transform: translateX(-14px)

                &::after
                    position: absolute
                    left: 2px
                    content: ""
                    display: block
                    width: 8px
                    height: 8px
                    background: white
                    border-radius: 50%
                    transform: translateX(-14px)

                &:nth-child(1)
                    top: 0px

                &:nth-child(2)
                    bottom: 10%
                    
                & > svg
                    margin-right: 7px

            &__traits
                font-weight: normal
                font-size: 1em

                &__trait
                    display: block
                    margin-top: 10px

                    & > svg
                        margin-right: 5px



        &__buttons
            margin-top: 10px
            display: flex
            align-items: center
            justify-content: flex-end
            gap: 20px

            & .button
                height: 40px
                padding: 0 50px  
                font-weight: 500
                flex-grow: 1
                border-radius: 5px

                @media (min-width: bp.$medium)
                    flex-grow: 0 

    &__configuration
        margin-bottom: 20px
        padding: 10px
        border: 1px solid vars.$border-color
        border-radius: 3px 
        font-size: 1.2em

        @media (min-width: bp.$medium)
            font-size: 1em

        &__title
            margin-bottom: 20px
             
            & svg
                margin-right: 10px

        &__box
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            
            @media (min-width: bp.$medium)
                flex-wrap: nowrap

        &__block
            margin-top: 10px
            display: flex
            flex-direction: column
            justify-content: space-between
            gap: 10px
            min-width: 40%

            @media (min-width: bp.$medium)
                min-width: unset

            &__title
                font-size: 0.8em
                color: vars.$alternative_text-color

            &__element
                height: 35px

                & .number__button-cnt
                    height: 100%

                    & .button__text, & .placeholder
                        font-size: 0.9em

                        @media (min-width: bp.$medium)
                            font-size: 0.75em

    &__summary
        margin-top: 20px
        padding: 10px
        background: vars.$silver-background
        border: 1px solid vars.$border-color
        border-radius: 3px

        &__element
            margin-bottom: 8px
            font-weight: 400
            display: flex
            justify-content: space-between

            &.sum
                font-weight: 500
                font-size: 1.1em
                border-top: 1px solid vars.$border-color
                margin-top: 20px
                padding-top: 10px

    &__section
        margin-top: 30px

        &-title
            margin-bottom: 20px
            font-size: 1.1em
            font-weight: 500
            border-bottom: 1px solid vars.$border-color
            padding: 10px 20px

        &__content
            padding: 10px 20px

        &__item
            border: 1px solid vars.$border-color
            border-radius: 3px
            margin-top: 40px
            background: vars.$windows-color
                

    &__main
        display: flex
        gap: 30px
        flex-direction: column

        @media (min-width:bp.$medium)
            flex-direction: row
            
        &__left
            flex-basis: 60%

        &__right
            flex-basis: 40%
            
    &__addons
        &__list
            &__item
                display: flex
                gap: 10px
                text-align: left
                margin-bottom: 10px

                & > svg
                    width: 25px
                    color: vars.$success-color
                    font-size: 1.3em
                
    &__assistance
        display: flex
        flex-direction: column
        gap: 20px
        padding-bottom: 20px

        &__title
            display: block
            font-weight: 400
            font-size: 0.7em
            padding-left: 7px
            color: #5f5f5f
            
            
            
                
            
            
        
        
        