@use '../../sass/varibles' as vars
@use '../../sass/mixins' as mixins
@use '../../sass/break_points' as bp

.product
    min-height: calc( 100vh - vars.$navHeight )
    padding: 30px 50px
    background-color: vars.$container-color

    @media (max-width:bp.$extra-large)
        padding: 30px 20px

    @media (max-width:bp.$large)
        padding: 30px 20px

    &__header
        margin-top: 20px
        position: relative
        width: 100%
        display: grid
        grid-template-columns: 1fr 2fr
        gap: 50px
        border: 1px solid vars.$border-color
        padding: 30px

        @media (max-width:bp.$large)
            grid-template-columns: 1fr
            font-size: 0.7em
           
        &__img
            margin-top: 10px
            max-width: 400px
            padding: 0 10px
            border: 1px solid vars.$border-color
            background-color: vars.$silver_background

            @media (max-width:bp.$small)
                width: 80%

        &__description
            flex-grow: 1
            height: 100%
            float: right
            gap: 30px
            width: 100%

            &__top
                display: flex
                justify-content: space-between
                position: relative
                margin-bottom: 30px

                &::after
                    position: absolute
                    content: ''
                    width: 100%
                    height: 2px
                    background-color: vars.$primary-color
                    left: 0
                    bottom: -10px

            &__title
                width: 100%
                font-size: 1.5em
                position: relative

            &__prices
                text-align: right

            &__price
                font-size: 2em
                display: block

                &-unit
                    font-size: 0.7em
                    font-weight: 400

            &__dailyPrice
                display: block
                color: #9b9b9b

            &__avilability
                display: block
                color: vars.$success-color
                border: 1px solid vars.$secondary-color_border
                margin-top: 10px
                font-size: 0.75em
                background: vars.$secondary-color_light
                width: 80px
                text-align: center
                padding: 3px 5px
                border-radius: 6px

            &__localisation
                display: block
                font-weight: normal
                position: absolute
                margin-left: 10px
                left: 20px
                display: flex
                align-items: center
                height: 30px

                & .text > span
                    display: block            

                &::before
                    content: ""
                    display: block
                    width: 12px
                    height: 12px
                    background: gray
                    border-radius: 50%
                    transform: translateX(-14px)

                &::after
                    position: absolute
                    left: 2px
                    content: ""
                    display: block
                    width: 8px
                    height: 8px
                    background: white
                    border-radius: 50%
                    transform: translateX(-14px)

                &:nth-child(1)
                    top: 0px

                &:nth-child(2)
                    bottom: 10%
                    
                & > svg
                    margin-right: 7px

            &__traits
                font-weight: normal
                font-size: 1em

                &__trait
                    display: block
                    margin-top: 10px

                    & > svg
                        margin-right: 5px



        &__buttons
            margin-top: 10px
            display: flex
            align-items: center
            justify-content: flex-end
            gap: 20px

            & .button
                height: 40px
                padding: 0 50px  
                font-weight: 500
                flex-grow: 1

                @media (min-width: bp.$medium)
                    flex-grow: 0 


    &__configuration
        margin-bottom: 20px
        padding: 10px
        border: 1px solid vars.$border-color
        font-size: 1.2em

        @media (min-width: bp.$medium)
            font-size: 1em

        &__title
            margin-bottom: 20px
             
            & svg
                margin-right: 10px

        &__box
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            
            @media (min-width: bp.$medium)
                flex-wrap: nowrap

        &__block
            margin-top: 10px
            display: flex
            flex-direction: column
            justify-content: space-between
            gap: 10px
            min-width: 40%

            @media (min-width: bp.$medium)
                min-width: unset

            &__title
                font-size: 0.8em
                color: vars.$alternative_text-color

            &__element
                height: 35px

                & .number__button-cnt
                    height: 100%

                    & .button__text, & .placeholder
                        font-size: 0.9em

                        @media (min-width: bp.$medium)
                            font-size: 0.75em

    &__summary
        margin-top: 20px
        padding: 10px
        background: vars.$silver-background
        border: 1px solid vars.$border-color

        &__element
            margin-bottom: 8px
            font-weight: 400
            display: flex
            justify-content: space-between

            &.sum
                font-weight: 500
                font-size: 1.1em
                border-top: 1px solid vars.$border-color
                margin-top: 20px
                padding-top: 10px


    &__box.right
        width: 100%
        position: relative
        border: 1px solid #dddddd
        border-radius: 5px
        height: 180px

        @media (min-width: bp.$small) 
            width: 250px

        &::before
            content: ""
            position: absolute
            left: 20px
            bottom: 40px
            height: calc(70% - 70px)
            width: 2px
            background: silver

        & .container
            margin-top: 50px
            height: 70%
            width: 100%
            position: absolute
            bottom: 0px

        & h3
            margin-left: 10px
            margin-top: 10px
            text-align: center

            @media (min-width: bp.$small) 
                text-align: left

    &__boxex_cnt
        display: flex
        justify-content: space-between
        flex-direction: column
        gap: 20px

        @media (min-width: bp.$small) 
            flex-direction: row

    &__nav
        width: 100%
        display: flex
        gap: 15px
        border-bottom: 1px solid silver

        &__box
            cursor: pointer
            padding-bottom: 10px
            border-bottom: 1px solid transparent
            transition: all 0.3s 

            &:hover
                border-bottom: 1px solid black

    &__section
        margin-top: 100px

        &-title
            margin-bottom: 30px    

    &__addons__list
        display: grid
        grid-template-columns: repeat(3, auto) 
        justify-content: space-between
        gap: 20px 0

        @media ( max-width: bp.$medium )
            grid-template-columns: repeat(2, auto) 

        @media ( max-width: bp.$small )
            grid-template-columns: repeat(1, auto) 
            

                
                
            
            
        
        
        