@use "../../sass/varibles" as vars
@use "../../sass/break_points" as bp
@use '../../sass/mixins' as mixins

.navigation
    height: vars.$navHeight
    padding: 0 30px
    position: relative
    z-index: 1
    box-shadow: 0 2px 5px -3px rgba(0,0,0,0.5) 
    background-color: vars.$primary-color
    gap: 10px
    @include mixins.flexDisplay($primarySetting: flex-start , $secondarySetting: center)

    &__logo
        width: 70px

        @media (min-width: 450px)
            width: 100px

    &__icon-box
        flex-basis: calc( 50% - 30px)
        color: white

        @media (max-width: bp.$small) 
            flex-basis: 10%

    &__homeIcon
        font-size: 1.5em
        cursor: pointer

    &__searhField
        flex-grow: 1.1
        height: 40%
        line-height: 20%

        @media (max-width: bp.$small) 
            width: 20%

    &__searhInput
        width: 200px
        height: 100%

        @media (max-width: bp.$medium) 
            width: 70%

        @media (max-width: bp.$small) 
            width: 100%

    &__links
        display: flex
        gap: 30px
        align-items: center

        @media (max-width: bp.$small) 
            gap: 10px
        
    &__link
        &-container
            width: fit-content
            position: relative
            top: 0

            & a
                color: #fff

            &:hover > .navigation__link-underline
                width: 100%

            &__userIcon
                font-size: 1.5em
                color: #fff
                cursor: pointer

        &-underline
            width: 0px
            height: 2px
            background-color: #fff
            position: absolute
            left: 0
            bottom: -5px
            transition: width 0.7s


        &__switch-language-icon
            display: inline
            width: 30px
            height: 30px
            cursor: pointer
            margin: 0 5px
            filter: grayscale(80%)
            transition: all 0.7s
       
            @media (max-width:bp.$medium) 
                margin-top: 5px
                width: 25px
                height: 25px

        &__switch-language-icon.active
            filter: none

    @media (max-width: bp.$small) 
        font-size: 0.7em

    &__right
        flex-grow: 1
        display: flex
        align-items: center
        justify-content: flex-end

    &__account
        margin-left: 20px