$navHeight: 6vh
$singInWidth: clamp(340px, 50%, 800px)
$containerWidth: clamp(500px, 75%, 1300px)
$background-color: #ececec
$nav-color: #ffffff
$container-color: #ffffff
$primary-color: #333
$secondary-color: #3CA061
$secondary-color_light: #d6ecde
$secondary-color_border: #99caaa
$secondary-color_text: #6ed493
$success-color: #3CA061