$navHeight: 6vh
$singInWidth: clamp(340px, 50%, 800px)
$containerWidth: clamp(500px, 75%, 1600px)

$text-color: #333
$background-color: #f3f3f3
$windows-color: #f7f7f7
$silver-background: #f7f7f7
$border-color: #d4d4d4
$nav-color: #ffffff
$container-color: #f3f3f3
$alternative_text-color: #2c2c2c
$primary-color: #333
$secondary-color: #38b943
$secondary-color_light: #d6ecde
$secondary-color_border: #99caaa
$secondary-color_text: #5aad79
$success-color: #34bd3f