$navHeight: 6vh
$singInWidth: clamp(340px, 50%, 800px)
$containerWidth: clamp(500px, 75%, 1300px)
$background-color: #ececec
$nav-color: #ffffff
$container-color: #ffffff
$primary-color: #333
$secondary-color: #da8138
$secondary-color_darker: #B86E00
$secondary-color_light: #f8bb89
$secondary-color_text: #75441c
$success-color: #4caf50