@use "../../sass/mixins" as mixins
@use "../../sass/break_points" as bp
@use "../../sass/varibles" as var
    
.filtres
    @include mixins.flexDisplay($primarySetting: flex-start, $secondarySetting: flex-start, $direction:column)
    padding: 0 20px
    padding-bottom: 50px
    padding-top: 10px
    position: relative
    width: 100%
    min-height: 90vh
    background: var.$windows-color
    border: 1px solid silver
    border-radius: 5px

    @media (min-width: bp.$extra-large)
        height: unset
        overflow: hidden
    
    & .section_ico
        color: var.$secondary-color_text
        margin-right: 5px

    &__title
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 30px

    &__section
        width: 100%
        margin-top: 10px

        &:nth-last-child(2)
            border: none

        &__title
            font-size: 1em
            display: block
            margin-bottom: 5px
            font-weight: 500

        &__body
            margin-top: 10px
            padding-left: 5px
            width: 100%

            &:has(.filtres__data__locations)
                padding: 0

        &__list
            @include mixins.flexDisplay($primarySetting: flex-start, $secondarySetting: center)
            gap: 10px   

    &__price
        border: none 
        margin-bottom: 20px

        &__input-box
            position: relative
            display: flex
            align-items: center
            width: calc(50% - 5px)
            border: 1px solid #ccc
            padding: 5px
            font-size: 0.9em
            user-select: none

            & .unit
                position: absolute
                right: 5px
                font-weight: 500
                font-size: 0.9em

        &__inputs
            margin-top: 10px
            display: flex
            gap: 10px
            
            & input
                width: 100%
                text-align: right
                height: 25px
                padding-right: 15px
                background: unset
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

        &__cnt
            padding: 0 10px

        &__box
            position: relative
            height: 20px
            text-align: center

            &-progress
                height: 3px
                position: absolute
                bottom: 5px
                left: 0
                right: 0
                background-color: var.$primary-color
                z-index: 1
                transform: translateY(-2px)

            &-tumb
                width: 100%
                height: 3px
                position: absolute
                bottom: 5px
                background-color: #b4b4b4
                border-radius: 3px
                z-index: 0
                transform: translateY(-2px)
                

            & input
                width: calc(100% + 12px)
                position: absolute
                bottom: 2px
                left: -8px
                background: none
                pointer-events: none
                -webkit-appearance: none
                z-index: 1

                &::-webkit-slider-thumb
                    height: 12px
                    width: 12px
                    pointer-events: auto
                    border-radius: 50%
                    -webkit-appearance: none
                    background-color: white
                    z-index: 1
                    cursor: pointer
                    box-shadow: 0 0 0 1px black


    &__data
        border: none

        &__locations
            @include mixins.flexDisplay($primarySetting: space-between, $secondarySetting:center)
            gap: 15px 

            &__box
                flex-grow: 1
                margin-bottom: 15px

                & > span
                    display: inline-block
                    min-width: 120px
                    margin-bottom: 5px
                    font-size: 0.9em

                    @media (max-width: bp.$extra-large)
                        width: 100%
                        font-size: 0.7em !important
                        color: #2c2c2c

                & .selectLocations

                    @media (max-width: bp.$extra-large)
                        width: 100%

                    &__selected
                        border: 1px solid #ccc

        &__dates
            width: 100%
            gap: 10px

            @media (max-width: bp.$extra-large)
                flex-direction: column

            
            &__box
                width: 100%
                margin-bottom: 15px

                @media (max-width: bp.$extra-large)
                    width: 100%

                    & > span
                        font-size: 0.7em !important

    &__buttons
        @include mixins.flexDisplay($primarySetting: space-between, $secondarySetting:center)
        gap: 20px
        width: 100%
        margin-top: 20px

        & > button:nth-last-child(1)
            flex-grow: 1
        
    &__clearFiltres
        outline: none
        cursor: pointer
        border: none
        background: unset
            