.selectLocations
    position: relative
    height: 35px
    user-select: none
    background: #ffffff
    border-radius: 4px

    &__selectBox
        position: relative
        width: 100%
        transition: 0.3s all
        z-index: 3
        background: #ffffff
        display: none
        border-radius: 5px
        transform: translateY(5px)
        padding: 5px
        box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.2)

        &__container
            max-height: 143px
            overflow: auto
        
    &__option
        line-height: 35px
        cursor: pointer
        font-size: 0.9em
        transition: 0.2s all
        border-radius: 3px
        padding-left: 10px

        &:hover
            background-color: #dfdfdf
            color: black

    &__selected
        padding-left: 15px
        line-height: 35px
        height: 35px
        color: black
        cursor: pointer
        font-size: 0.9em
        font-weight: 600
        border-radius: 3px
        line-height: 35px
    
    &__icon
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        pointer-events: none
        color: black

    &.extend > .selectLocations__selectBox
        display: block
        animation: showElement 0.3s forwards

@keyframes showElement
    0%
        display: none
    1%
        display: block
        transform: translate(-2px, 2px)
        opacity: 0
    50%
        opacity: 1
    100% 
        transform: translate(0, 10px)