@use '../../sass/mixins' as mixins
@use '../../sass/varibles' as vars
@use '../../sass/break_points' as bp

.productDetails
    width: 100%

    &__lists
        @include mixins.flexDisplay($primarySetting: flex-start)

        @media (max-width: bp.$medium)
            flex-direction: column

    &__list
        list-style: none
        width: 100%
        padding: 0
        margin: 0

        &__item
            display: flex
            justify-content: space-between
            align-items: center
            padding: 9px 0
            border-bottom: 1px solid #f5f5f5
            font-size: 0.85em

            &:first-child
                display: none

            &:last-child
                border-bottom: none

            &__left
                color: #999
                font-weight: 500

            &__right
                color: #1a1a1a
                font-weight: 700
                text-align: right
