@use "../../sass/varibles" as vars
@use "../../sass/mixins" as mixins
@use '../../sass/break_points' as bp

.offers
    @include mixins.flexDisplay($primarySetting:space-between , $secondarySetting:flex-start )
    padding-left: 20px
    background-color: vars.$container-color
    min-height: calc(100vh - vars.$navHeight)

    @media (max-width:bp.$extra-large)
        width: 95%

    @media (max-width:bp.$large)
        flex-direction: column
        width: 100%
        padding: 0px
        justify-content: flex-start

    &__checkbox-box
        margin-bottom: 30px
        
        &-text
            margin-left: 5px

    &__filters-box
        width: 30%
        padding-top: 20px

        @media (max-width: bp.$large)
            width: 100%
            display: none

        &.open
            display: block
    &__main
        position: relative
        width: 100%
        height: 100%
        min-height: 80vh
        padding: 20px 10px 0px 40px
        

        @media (max-width:bp.$huge)
            padding-right: 20px

        @media (max-width:bp.$large)
            padding: 20px 10px

        &.hidden
            display: none

    &__settings
        display: flex
        justify-content: flex-end

    &__products
        margin: 0 auto
        max-width: 1000px          
            

    &__filters-switch
        @include mixins.flexDisplay($primarySetting:space-between , $secondarySetting:center)
        width: 100%
        display: none
        box-shadow: 0 1px 5px -1px #0000005e
        background-color: vars.$background-color

        @media (max-width:bp.$large)
            display: flex

        &-title
            font-size: 1em
            padding-left: 20px

        &-button
            width: 50px
            height: 50px
            margin-right: 5px
            border: none
            background-color: #333
            color: white

            & svg
                font-size: 1.2em

    & .spinner, & .custom-error
        @include mixins.absoluteCenter($height:center)