@use "../../sass/varibles" as vars
@use "../../sass/mixins" as mixins
@use '../../sass/break_points' as bp

.offers
    @include mixins.flexDisplay($primarySetting:space-between , $secondarySetting:flex-start )
    padding-left: 20px
    background-color: vars.$container-color
    height: calc( 100vh - vars.$navHeight)
    overflow: hidden

    @media (max-width:bp.$extra-large)
        width: 95%

    @media (max-width:bp.$large)
        flex-direction: column
        width: 100%
        padding: 0px

    &__filters-box
        width: 30%
        padding-top: 20px

        @media (max-width: bp.$large)
            width: 100%
            display: none

        &.open
            display: block
    &__main
        position: relative
        width: 100%
        height: 100%

    &__products
        margin: 0 auto
        max-width: 1000px
        height: calc( 100vh - vars.$navHeight)
        overflow: auto

        @media (max-width:bp.$large)
            height: calc( 100vh - vars.$navHeight - 30px)

        &-cnt
            overflow: hidden
            min-height: 110%
            padding: 20px 10px 0px 40px

            @media (max-width:bp.$huge)
                padding-right: 20px

            @media (max-width:bp.$large)
                padding: 20px 10px

        &.hidden
            display: none

    &__filters-switch
        @include mixins.flexDisplay($primarySetting:space-between , $secondarySetting:center)
        padding: 0 15px
        width: 100%
        height: 30px
        display: none
        box-shadow: 0 2px 10px -1px #0000005e

        @media (max-width:bp.$large)
            display: flex

        &-title
            font-size: 1em

        &-button
            width: 30px
            height: 30px
            margin-right: 5px
            border: none

        &-text
            font-size: 0.7em
    
    & .spinner, & .custom-error
        @include mixins.absoluteCenter($height:center)