.payments
    display: flex
    flex-wrap: wrap
    gap: 20px

    .payment
        width: calc(33.33% - (40px / 3)) //gap * 2 - number of elements
        padding: 30px 20px
        height: 50px
        border: 1px solid silver
        border-radius: 5px
        display: flex
        align-items: center
        gap: 15px
        cursor: pointer
        color: #333
        
        &.--selected
            width: 100%

        &__icon
            font-size: 20px