@use "../../sass/varibles" as vars

.custom-checkbox
    min-width: 50px
    text-align: center
    line-height: 25px
    border-radius: 3px
    border: 1px solid #ccc
    user-select: none
    cursor: pointer
    transition: all 0.3s
    padding: 0 5px

    &.checked, &:hover
        border-color: vars.$primary-color

        & .custom-checkbox__label

    &__label
        color: #333
        pointer-events: none
        font-size: 0.9em